.contact_us li,.contact_us p,.contact_us div,.contact_us h1,.contact_us h2,.contact_us h3,.contact_us h4,.contact_us h5,.contact_us h6,.contact_us a{
  font-family: 'Questrial', sans-serif;
}
.contact_us .background{
  z-index: 97;
  height: 344px;
  background-image: url(../images/chamada_contato.jpg?crc=4233459651);
  position: relative;
  background-size: cover;
  margin-top: 22px;
}
.contact_us .background .faca{
  background-color: rgba(45,186,209,0.55);
  height: 70px;
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.contact_us .background .faca_letter{
  color:white;
  font-size: 38px;
  padding-top: 10px;
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.contact_us h2{
  color:#2DBAD1;
}
.contact_us p{
  color:#989079;
  font-size: 18px;
}
.contact_us .left{
  margin-top: auto;
  margin-bottom: auto;
}
.contact_us .left h3{
  color:#2DBAD1;
}
.contact_us .left div{
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact_us .col-md-6.right{
  padding-left: 20px;
  padding-right: 20px;
}
.contact_us .right div{
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact_us .right label{
  color:#2DBAD1;
  font-size: 18px;
}
.contact_us .right .btn-default{
  background-color: #319BAC;
  border-color:#207E8D;
  color:white;
  width: 300px;
}


/* about us */
.about_us .background{
  height: 344px;
  background-image: url(../images/chamada_sobre.jpg?crc=489893363);
  background-size: cover;
  position: relative;
  margin-top: 22px;
}
.about_us .background .faca{
  background-color: rgba(45,186,209,0.55);
  height: 70px;
  position: absolute;
  bottom: 10%;
  width: 100%; 
}
.about_us .background .faca_letter{
  color:white;
  font-size: 52px;
  padding-top: 50px;
  position: absolute;
  bottom: 5%;
  width: 100%;
}
.about_us p{
  font-size: 20px;
  color:#989079;
  padding-top: 10px;
}
.about_us .grey_background{
  background-color: #F9F9F9;
}
.about_us .green_border{
  border:1px solid #BACFD2; 
  padding: 40px;
  border-radius: 5px;
  position: relative;
  margin:50px;
  color: #989079;
  font-size: 18px;
}
.about_us .s_green_button{
  color: white;
  background-color: #66B5B6;
  border-top: 10px solid #207E8D;
  position: absolute;
  top: 0;
  margin-top: -30px;
  margin-left: 30px;
}
.about_us .background_1{
  height: 397px;
    background-image: url(../images/chamada_estrutura_torrent.jpg?crc=4108917504);
  background-size: cover;
  position: relative;
}
.about_us .background_1 .faca{
  background-color: rgba(45,186,209,0.55);
  height: 70px;
  position: absolute;
  bottom: 10%;
  width: 100%; 
}
.about_us .background_1 .faca_letter{
  color:white;
  font-size: 60px;
  padding-top: 50px;
  position: absolute;
  bottom: 5%;
  width: 100%;
}
.about_us label{
  color:#989079;
  font-size: 28px;
}
.contact_us_ok div{
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact_us_ok h3{
  color:#2DBAD1
}