.li,.p,.div,.h1,.h2,.h3,.h4,.h5,.h6,.a{
  font-family: 'Questrial', sans-serif;
}
.find_drug .background{
  height: 344px;
  background-image: url(../images/chamada_farmacias.jpg?crc=323513180);
  position: relative;
  background-size: cover;
  margin-top: 22px;
}
.find_drug .background .faca{
  background-color: rgba(45,186,209,0.55);
  height: 70px;
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.find_drug .background .faca_letter{
  color:white;
  font-size: 52px;
  padding-top: 10px;
  position: absolute;
  bottom: 5%;
  width: 100%;
  font-weight: bold;
}
.find_drug h1{
  color: #319BAC;
}
.find_drug p{
  color: #989079;
  font-size: 20px;
}

.find_drug select{
  border: solid 1px #207e8d;
  color: #207e8d;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 8px;
  padding-left: 10px;
  height: 50px;
  margin-left: 10px;
}
.find_drug .uf{
  width: 60px;
} 
.find_drug .cidade, .find_drug .bairro{
  width: 240px;
}
.find_drug .btn-primary{
  background-color: #207E8D;
  color: white;
}
.find_drug .btn-primary:hover{
  background-color: #1f5bd3;
}

.position_drugstore .background{
  background-image: url(../images/chamada_farmacias.jpg?crc=323513180);
  height: 230px;
  position: relative;
  margin-top: 22px;
}
.position_drugstore .background .faca{
  background-color: rgba(45,186,209,0.55);
  height: 70px;
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.position_drugstore .background .faca_letter{
  color:white;
  font-size: 52px;
  padding-top: 10px;
  position: absolute;
  bottom: 5%;
  width: 100%;
  font-weight: bold;
}
.position_drugstore h2{
  color: #319BAC;
}
.position_drugstore p{
  color:grey;
  font-size: 18px;
}
.position_drugstore .box_position{
  border: 1px solid #BA9000;
}
.position_drugstore .box_position p{
  font-size: 15px;
}
.position_drugstore h1{
  color: #319BAC;
}