.li,.p,.div,.h1,.h2,.h3,.h4,.h5,.h6,.a{
  font-family: 'Questrial', sans-serif;
}
.policy .background{
  height: 225px;
  background-image: url(../images/chamada_cadastro.jpg?crc=4193824423);
  position: relative;
  background-size: cover;
}
.policy .background .faca{
  background-color: rgba(45,186,209,0.55);
  height: 70px;
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.policy .background .faca_letter{
  color:white;
  font-size: 52px;
  padding-top: 10px;
  position: absolute;
  bottom: 5%;
  width: 100%;
  padding-left: 100px;
  font-weight: bold;
}
.policy .heading{
  font-weight: bold;
  color: #989079;
  font-size: 20px;
}
.policy h4{
  text-align: center;
}
.policy .row{
  padding-top: 30px;
  padding-bottom: 20px;
}
.policy .content{
  color: #989079;
  font-size: 20px;
}
.policy .content h4{
  font-weight: bold;
}
.policy a{
  text-decoration: none;
  cursor: pointer;
}